.show-comment {
  width: 100vw;
  height: 100vh;
  background-color: #e7effd;
}
.show-comment .nav-bar {
  width: 100vw;
  height: 50px;
}
.show-comment .nav-bar .van-nav-bar {
  width: 100vw;
  height: 50px;
  background-color: #71cdf8;
}
.show-comment .goodsCommentShow {
  width: 100vw;
  height: calc(100vh-150px);
  overflow-y: auto;
}
.show-comment .goodsCommentShow .no-comment {
  width: 98vw;
  height: 60px;
}
.show-comment .goodsCommentShow .no-comment h3 {
  height: 50px;
  line-height: 50px;
  color: #414547;
  text-align: center;
}
.show-comment .goodsCommentShow .comment-box {
  width: 98vw;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 7px;
}
.show-comment .goodsCommentShow .comment-box .user {
  width: 90vw;
  height: 50px;
  margin: 10px 0 0 10px;
}
.show-comment .goodsCommentShow .comment-box .user .user-name {
  height: 50px;
  text-align: left;
  color: #474849;
  font-size: 14px;
  margin: 10px;
  line-height: 30px;
}
.show-comment .goodsCommentShow .comment-box .user .van-image {
  margin: 5px 0 0 5px;
}
.show-comment .goodsCommentShow .comment-box .comment {
  width: 90vw;
  height: 50px;
  margin: 5px 0 0 10px;
  line-height: 30px;
  font-size: 14px;
  color: #313030;
  VERTICAL-ALIGN: top;
  WORD-BREAK: break-all;
  TEXT-ALIGN: left;
}
.show-comment .goodsCommentShow .comment-box .rate {
  width: 90vw;
  height: 40px;
  margin: 0 auto;
  line-height: 40px;
}
.show-comment .goodsCommentShow .comment-box .rate span {
  font-size: 14px;
  color: #3f3f3f;
}
.show-comment .goodsCommentShow .comment-box .time {
  width: 90vw;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-size: 12px;
  color: #414547;
}
